#contact-form {
	margin: 4em auto;
}

#contact-form .card-title {
	text-align: center;
	margin-top: 1em;
}

#contact-form form {
	padding: 2em;
}

#contact-form .form-group {
	padding: 0.5em;
}

#contact-form .form-label {
	color: var(--dark1);
}

#contact-form a {
	color: var(--dark1);
	text-decoration: underline;
}

#contact-form a:hover {
	color: var(--light1);
	text-decoration: underline;
}

#contact-form .send-btn {
	justify-content: flex-end;
}

#contact-form .send-btn button {
	margin: 0.5em;
	background-color: var(--dark1);
	border: none;
	font-weight: 600;
	color: var(--white);
	max-width: max-content;
}

#contact-form .send-btn button:hover {
	background-color: var(--contrast2);
	color: var(--black);
}

@media (max-width: 768px) {
	#contact-form {
		font-size: 1em;
		margin: 1em auto;
	}
}
@media (max-width: 425px) {
	#contact-form {
		margin: 0.5em;
	}
	#contact-form .card-title {
		display: none;
	}
}
