.form-label {
  color: var(--dark1);
  font-weight: 700;
}
.send-btn {
  background-color: var(--dark1);
  border: none;
  font-weight: 600;
  color: var(--white);
  max-width: 30%;
}

.send-btn:hover {
  background-color: var(--contrast2);
  color: var(--black)
}