#footer .nav-link,
#footer .btn-link {
	font-size: 1.5rem;
	font-weight: 550;
	border-radius: 0.25rem;
	border: solid 0.15rem var(--dark1);
	color: var(--dark2);
	background-color: var(--white);
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
}

#footer .nav-link:hover,
#footer .btn-link:hover {
	background-color: var(--contrast2);
	text-decoration: underline 4px var(--dark2);
	color: var(--black);
	border: solid 3px var(--black);
}

@media (max-width: 425px) {
	#footer {
		display: none;
	}
}
@media (max-width: 768px) {
	#footer .nav-link,
	#footer .btn-link {
		font-size: 1em;
	}
}
