#header-nav {
	align-items: center;
	text-align: center;
	padding: 0.25em 0;
	background-color: var(--dark1);
	color: var(--white);
	border-bottom: solid 0.15em var(--dark3);
	padding-bottom: 1em;
}

#header-nav h1 {
	font-size: 4em;
	font-weight: 600;
	margin: 0.5em 0;
}

#header-nav #icons .nav {
	justify-content: center;
}

#header-nav #icons .nav-link,
#header-nav #icons .btn-link {
	color: var(--black);
	font-size: 1.5rem;
}

#header-nav #icons .nav-link:hover,
#header-nav #icons .btn-link:hover {
	color: var(--contrast2);
}

#header-nav .nav-links a {
	font-size: 1.5em;
	font-weight: 550;
	padding: 0.15em 0.25em;
	color: var(--white);
	background-color: var(--dark1);
	text-decoration: underline var(--white);
}

#header-nav .nav-links a:hover {
	text-decoration: underline var(--contrast2);
	color: var(--white);
}
#header-nav .nav-links .active {
	border: solid var(--contrast2);
	text-decoration: underline var(--contrast2);
	color: var(--white);
}

@media (max-width: 768px) {
	#header-nav .nav-links a,
	#header-nav #icons .nav-link,
	#header-nav #icons .btn-link {
		font-size: 1.25em;
	}
	#header-nav {
		padding: 0.5em;
	}
	#header-nav h1 {
		font-size: 3em;
	}
}
