#header-nav {
	align-items: center;
	text-align: center;
	padding: 0.25em 0;
	background-color: var(--dark1);
	color: var(--white);
}

#header-nav h1 {
	font-size: 4em;
	font-weight: 600;
	margin: 0.5em 0;
}

#header-nav .nav-links a {
	font-size: 1.5em;
	font-weight: 550;
	padding: 0.15em 0.25em;
	color: var(--white);
	background-color: var(--dark1);
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
}

#header-nav .nav-links a:hover {
	text-decoration: underline var(--contrast2);
	color: var(--white);
}
#header-nav .nav-links .active {
	border: solid var(--contrast2);
	text-decoration: underline var(--contrast2);
	color: var(--white);
}
