#header {
	padding: 0.25em 0;
	background-color: var(--dark1);
	color: var(--white);
	border-bottom: solid 0.15em var(--dark3);
}

#header-menu {
	position: fixed;
	top: 1.5em;
	right: 1.5em;
	transition: visibility 0.1s, linear;
	z-index: 3;
}

#header-menu button {
	background-color: var(--dark1);
	border: none;
}

#header-menu .dropdown-menu {
	border: solid 0.15em var(--dark1);
	background-color: var(--light3);
}

#header #main-info {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 1.5em auto;
}

#header img {
	max-width: 90%;
	max-height: 65%;
	border-radius: 2em;
}
#header h1 {
	word-wrap: break-word;
	font-size: 4em;
	font-weight: 600;
	margin: 0.5em 0;
	font-family: 'Sansita Swashed';
}

#header #icons .nav {
	justify-content: center;
}

#header #icons .nav-link,
#header #icons .btn-link {
	color: var(--black);
	font-size: 1.75em;
}

#header #icons .nav-link:hover,
#header #icons .btn-link:hover {
	color: var(--contrast2);
}

#header .nav-links a {
	font-size: 1.75em;
	font-weight: 550;
	padding: 0.15em 0.25em;
	color: var(--white);
	background-color: var(--dark1);
	text-decoration: underline var(--white);
}

#header .nav-links a:hover {
	text-decoration: underline var(--contrast2);
	color: var(--white);
	transition: text-decoration 0.15s ease-in-out;
}
#header .nav-links .active {
	border: solid var(--contrast2);
	border-radius: 0.25em;
	text-decoration: underline var(--contrast2);
	color: var(--white);
}

@media (max-width: 985px) {
	#header #image {
		display: none;
	}
}
@media (max-width: 768px) {
	#header {
		padding: 0.5em;
	}

	#header-menu button #menu-title {
		display: none;
	}

	#header #main-info {
		margin: 0;
	}

	#header .nav-links a,
	#header #icons .nav-link,
	#header #icons .btn-link {
		font-size: 1.25em;
	}
}

@media (max-width: 425px) {
	#header-menu .dropdown-menu {
		padding: 0;
		min-width: 1em;
	}
	#header-menu .dropdown-item {
		width: fit-content;
		font-size: 0.85em;
	}
	#header h1 {
		font-size: 2em;
	}

	#header .nav-item a {
		padding: 0.25em;
		font-size: 1em;
	}
	#header #main-info .nav a {
		display: none;
	}
}
