#project {
	margin: 1em auto;
	text-align: center;
}

#project .card {
	border: solid 0.1em var(--dark3);
	margin: 0.5em 0;
}

#project .card-text li {
	text-align: left;
}

#project .sansita {
	font-family: 'Sansita Swashed';
}

#project a {
	padding: 0;
	color: var(--dark1);
	text-decoration: underline 0.1em;
	display: flex;
	justify-content: center;
}

#project .card h6 {
	font-weight: 800;
}

#project .is-link .git {
	width: fit-content;
}

#project .is-link:hover {
	color: var(--contrast2);
}

@media (max-width: 768px) {
	#project {
		margin: 0.5em auto;
	}

	#project .card {
		margin: 0.5em 0;
		font-size: 1em;
	}

	#project .card-body {
		font-size: 0.85em;
	}
}
