.is-link {
	padding: 0;
	color: var(--dark1);
	text-decoration: underline;
}

.is-link .git {
	margin-left: 0.5rem;
}

.is-link:hover {
	color: var(--light1);
}

.card-body {
	margin: 1rem 0;
}

.card-text {
	margin: 1rem 0;
}
