:root {
	--white: rgb(255, 255, 255);
	--black: rgb(0, 0, 0);

	--dark3: rgb(173, 173, 173);
	--light3: rgb(226, 226, 226);

	--dark2: #c82d49d5;
	--light2: #812637;

	--dark1: #165d7a;
	--light1: #49afd7;

	--contrast2: #f2c84b;
	--contrast1: #ff4b9f;
}

#root {
	/* background-color: var(--light3); */
	background-image: url('./background-image/option3.jpg');
	background-attachment: fixed;
	background-size: cover;
}

#page {
	margin: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	display: inline;
}
