:root {
	--white: rgb(255, 255, 255);
	--black: rgb(0, 0, 0);

	--dark3: rgb(173, 173, 173);
	--light3: rgb(226, 226, 226);

	--dark1: #4b9992;
	--light1: #87e6de;

	--contrast2: #e6a687;
	--contrast1: #995a3c;
}

#root {
	background-color: var(--dark3);
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}

/* all nav classes: header and footer */
.nav {
	display: flex;
	justify-content: space-around;
}
