:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);

  --dark3: rgb(173, 173, 173);
  --light3: rgb(226, 226, 226);

  --dark2: #c82d49d5;
  --light2: #812637;

  --dark1: #165d7a;
  --light1: #1a95c7;

  --contrast2: #edb918;
  --contrast1: #ff4b9f;
}
